{% extends 'template.html' %}


<body>
  {% block content %}
  <!-- Add contact input -->
  <form id="contact-form" action="{{ url_for('add_contact') }}" method="post">
    <div class="form-group row">
      <div class="col">
        <input type="text" id="name" placeholder="Add name..." name="name">
      </div>
      <div class="col">
        <input type="number" id="phone" placeholder="Add Phone Number..." name="phone">
      </div>
      <div class="col">
        <input type="email" id="email" placeholder="Add Email..." name="email">
      </div>
    </div>
    <input type="submit" class="btn btn-primary" value="Add Contact">
  </form>
  {% endblock %}
  {% block script %}
  <script src="../static/js/add_contact.js" type="module"></script>
  {% endblock %}
</body>