{% extends 'template.html' %}

<body>
  {% block content %}
  <div class="container">
    <h1 class="center-align">
      My Contacts
    </h1>

    <!-- Add contact input -->
    <form id="contact-form">
      <div class="form-group row">
        <div class="col">
          <input type="text" id="name" placeholder="Add name...">
        </div>
        <div class="col">
          <input type="number" id="phone" placeholder="Add Phone Number...">
        </div>
        <div class="col">
          <input type="email" id="email" placeholder="Add Email...">
        </div>
      </div>
      <input type="submit" class="btn btn-primary" value="Add Contact">
    </form>

    <!-- New contact button -->
    <input type="button" id="new-contact" class="btn btn-primary mt-2" value="New Contact">

    <!-- Search Input -->
    <input type="text" id="filter-input" placeholder="Search names...">
    <div id="no-contact"></div>
    <ul class="collection with-header" id="names">

    </ul>
  </div>
  {% endblock %}
  {% block script %}
  <script src="../static/js/main.js"></script>
  {% endblock %}
</body>

</html>