{% extends 'template.html' %}

{% block content %}
<div id="contact-details">
  <a href="{{ url_for('home') }}"><i class="fa-solid fa-arrow-left"></i></a>
  <div>
    <div>
      <img src="../static/img/img.jpg" alt="" width="150px" height="150" style="border-radius: 50%;">
      <h3 id="contact-name" data-contact-id="{{ contact.id }}">{{ contact.name }}</h3>
      <button>Manage Labels</button>
    </div>
    <div class="d-flex">
      <div class="dropdown d-block">
        <p class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i
            class="fa-solid fa-ellipsis-vertical"></i>
        </p>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#"><i class="fa-solid fa-print me-3"></i>Print</a>
          </li>
          <li><a class="dropdown-item" href="#"><i class="fa-solid fa-cloud-arrow-down me-3"></i>Export</a>
          </li>
          <li><a class="dropdown-item" href="#"><i class="fa-solid fa-folder-minus me-3"></i>Hide from contacts</a></li>
          <li><a class="dropdown-item" href="{{ url_for('delete', phone=contact.phone) }}"><i
                class="fa-solid fa-trash-can me-3"></i>Delete</a></li>
        </ul>
      </div>
      <a href="" class="btn btn-primary btn-sm" id="edit-btn">Edit</a>
    </div>
  </div>
  <hr>
  <div class="card mb-3">
    <div class="card-body">
      <p class="card-title">Contact details</p>
      <p class="card-text"><i class="fa-regular fa-envelope me-3"></i><a href="">Add email</a></p>
      <p class="card-text"><i class="fa-solid fa-phone me-3"></i><a href="" id="phone-num">{{ contact.phone }}</a></p>
      <p class="card-text"><i class="fa-solid fa-cake-candles me-3"></i><a href="">Add birthday</a></p>
    </div>
  </div>
</div>
<!-- EDIT FORM -->
<div id="edit-form">
  <div>
    <i class="fa-solid fa-xmark"></i>
    <p>Edit contact</p>
  </div>
  <form id="contact-form" action="" method="post">
    {{ form.csrf_token }}
    <div class="form-group row">
      <div class="col">
        {{ form.name(placeholder="Add name...") }}
      </div>
      <div class="col">
        {{ form.phone(placeholder="Add phone number...") }}
      </div>
      <div class="col">
        {{ form.email(placeholder="Add email...") }}
      </div>
    </div>
    {{ form.submit(class="btn btn-primary", id="save-btn", value="Save") }}
  </form>
</div>
{% block script %}
<script src="../static/js/person.js" type="module"></script>
{% endblock %}

{% endblock %}